.content {
    h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

.card {

    display: flex;
    flex-direction: column;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;

    &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 10px 16px;

        .btn {
            margin-top: auto;
            margin-bottom: 5px;
            align-items: flex-end;
        }
    }

    &-desc {
        margin-top: 10px;
        margin-bottom: 10px;
    }


    img {
        border-radius: 5px 5px 0 0;
    }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.category {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    h2 {
        text-align: center;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .card {
        position: relative;

        h4 {
            font-size: 20px;
            font-weight: 700;
            color: rgba(0,0,0,0.7);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


.footer-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    h5 {
        margin-bottom: 15px;
    }

    .copy {
        margin: 15px 0;
        text-align: center;
        flex: 100%;
    }
}

.footer-logo {
    width: 45%;

    p {
        width: 270px;
        margin-top: 10px;
        padding: 5px 0;
    }
}

.footer-resources {
    h5 {
        margin-top: 30px;
    }
    ul {
        margin-top: 10px;

        li {
            padding: 5px 0;
        }
    }
}

@media screen and (min-width: 600px) {
    .footer-content {
        flex-flow: row wrap;
        justify-content: spece-between;
    }
}